.cardLayout{
    display: flex; 
    flex-direction: column; 
    margin: 2px;
    box-sizing: border-box; 
    height: 400px; 
    background-color: #ffffff;
     
    width: 380px; 
} 
.photoLayout{
    object-fit: scale-down; 
    height: 200px; 
    width:380px; 
    
} 
.para{
    color: #64748b;
    font-family: 'Roboto';
    font-size: 16px;
    letter-spacing: 1px; 
    width: 380px;
} 
.head{
    color: #475569; 
    font-family: 'Roboto';
    letter-spacing: 1px; 
    font-size: 14px;
}